.client_stories_section {
  background-color: #f6f3fc;
  padding: 120px 0;
}
.client_stories {
  display: grid;
  grid-template-columns: 50% 50%;
  // gap: 30px;

  .client_left {
    .client_title {
      font-size: 45px;
      background: linear-gradient(
        to right,
        var(--color2) 0%,
        var(--color1) 100%
      );
      background-clip: text;
      color: transparent;
      font-weight: var(--font-weight2);
    }
    .client_pg {
      color: var(--color3);
      font-size: 16px;
      line-height: 1.4;
      margin-top: 16px;
    }
  }
  .client_right {
    .client_cards {
      width: 250px;
      padding: 25px;
      background-color: var(--white);
      border-radius: 8px;
      .client_profile {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .right_profile img {
          border-bottom-left-radius: 125px;
        }
      }
      .item_icon {
        display: flex;
        font-size: 30px;
        color: var(--color2);
      }
      .client_information {
        font-size: 16px;
        color: var(--color3);
        margin: 25px 0 50px 0;
      }
      .client_name {
        font-size: 18px;
        font-weight: var(--font-weight2);
        color: var(--color1);
        margin-bottom: 5px;
      }
      .client_designation {
        font-size: 14px;
        color: var(--color3);
      }
    }
  }
}
