.my_skills {
  padding: 120px 0;
  .skill_title {
    text-align: center;
    font-size: 45px;
    background: linear-gradient(to right, var(--color2) 0%, var(--color1) 100%);
    background-clip: text;
    color: transparent;
    font-weight: var(--font-weight2);
  }
  .skill_pg {
    text-align: center;
    color: var(--color3);
    font-size: 16px;
    margin: 20px 0 50px 0;
    line-height: 1.4;
  }
  .card_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    .skill_card {
      display: grid;
      gap: 15px;
      text-align: center;
      .skill_box {
        background-color: #f6f3fc;
        border-radius: 16px;
        padding: 40px 60px 30px 60px;
        text-align: center;
        img {
          max-width: 60px;
          margin-bottom: 30px;
          filter: grayscale(90%);
        }
        .skill_par{
          font-size: 20px;
          font-weight: var(--font-weight2);
          color: rgb(116, 119, 121);
        }
        &:hover {
          background-color: var(--color1);
          transition-duration: 0.5s;
          img {
            transform: scale(1.2);
            filter: grayscale(0%);
            transition: 0.3s;
          }
          .skill_par{
            color: var(--color2);
            transition: 0.3s;
          }
        }
      }
    }
    .skill_name {
      font-size: 16px;
      color: var(--color2);
    }
  }
}