.quality_services {
  background-color: #f6f3fc;
  padding: 120px 0;
}
.services {
  .service_title {
    text-align: center;
    font-size: 45px;
    background: linear-gradient(to right, var(--color2) 0%, var(--color1) 100%);
    background-clip: text;
    color: transparent;
    font-weight: var(--font-weight2);
  }
  .service_para {
    text-align: center;
    color: var(--color3);
    font-size: 16px;
    margin: 20px 0 50px 0;
    line-height: 1.4;
  }

  .service_content {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 30px;
    padding: 40px 32px;
    .name { 
      display: flex;
      align-items: center;
      gap: 8px;

      .serial_number {
        font-size: 20px;
        font-weight: var( --font-weight2);
        color: var(--color2);
      }

      .skill_name {
        font-size: 30px;
        font-weight: var( --font-weight2);
        color: var(--color2);
      }
    }

    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      .details_text {
        max-width: 550px;
        font-size: 16px;
        line-height: 1.4;
        color: var(--color3);
      }

      .details_icon {
        font-size: 30px;
        margin-right: 25px;
        transform: rotate(45deg);
        color: var(--color2);
      }
    }

    &:hover {
      background: linear-gradient(90deg,  var(--color2) 0%,  var(--color1) 100%);
      transition-delay: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;

      .serial_number,
      .skill_name,
      .details_text {
        color: white;
        transition-duration: 0.4s;
      }

      .details_icon {
        color: white;
        transform: rotate(-45deg);
        transition-duration: 0.4s;
      }
    }
  }
}
hr {
  margin: 0;
}
