@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, i, span, b, img, strong {
  display: inline-block;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: "Sora", sans-serif, "Russo One";
  font-size: 15px;
}

:root {
  --white: white ;
  --color1: #2a1454;
  --color2: #8750f7;
  --color3: #140C1C;
  --font-weight1: 500;
  --font-weight2: 700;
  --font-weight3: 300;
}

header,
.services,
.recent_works {
  max-width: 1320px;
  margin: 0 auto;
}

.navbar,
.nav-logo,
.nav-list {
  display: flex;
  align-items: center;
}

.navbar {
  padding: 2.5rem 0 1.25rem 0;
  justify-content: space-between;
}

.nav-logo {
  gap: 2.5rem;
}
.nav-logo img {
  max-width: 60px;
}
.nav-logo a {
  color: var(--color1);
  text-decoration: none;
  font-weight: var(--font-weight1);
}

.nav-list {
  gap: 3rem;
}
.nav-list ul {
  display: flex;
  gap: 2rem;
}
.nav-list ul a {
  color: var(--color1);
  text-decoration: none;
  font-weight: var(--font-weight1);
}
.nav-list button {
  color: var(--white);
  padding: 1rem 2.2rem;
  border: none;
  border-radius: 50px;
  font-weight: var(--font-weight2);
  background: linear-gradient(90deg, rgb(121, 70, 223) 0%, rgb(48, 24, 95) 100%);
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
  position: relative;
}
.banner .bg-hi {
  position: absolute;
  left: 45%;
  top: 38%;
  color: var(--color2);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color2);
  font-family: "Russo One";
  font-size: 370px;
  animation: zoomin_out 3s linear infinite;
  opacity: 0.4;
  z-index: -1;
}

.banner-text {
  max-width: 636px;
}
.banner-text h3 {
  font-size: 36px;
  color: var(--color1);
  font-weight: var(--font-weight2);
}
.banner-text h1 {
  font-size: 4rem;
  background: linear-gradient(to right, var(--color2) 0%, var(--color1) 100%);
  background-clip: text;
  color: transparent;
  font-weight: var(--font-weight2);
  line-height: 78px;
  margin: 10px 0 15px 0;
}
.banner-text p {
  max-width: 550px;
  font-size: 20px;
  font-weight: var(--font-weight3);
  line-height: 30px;
  margin-bottom: 50px;
}
.banner-text .banner-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.banner-text .banner-icons button {
  font-size: 15px;
  padding: 15px 35px;
  border-radius: 50px;
  color: var(--color2);
  background-color: var(--white);
  border: 1px solid var(--color2);
}
.banner-text .banner-icons button span {
  margin-left: 10px;
}
.banner-text .banner-icons .social-icons {
  display: flex;
  gap: 20px;
}
.banner-text .banner-icons .social-icons a {
  font-size: 16px;
  padding: 8px;
  color: var(--color2);
  border: 1px solid var(--color2);
  border-radius: 50%;
}

.banner-img {
  margin-right: 90px;
}
.banner-img img {
  max-width: 430px;
  border-radius: 32px;
  transform: rotate(6deg);
  transition-duration: 0.5s;
}
.banner-img img:hover {
  transform: rotate(0deg);
}

@keyframes zoomin_out {
  0% {
    transform: scale(0.95) translate(-50%, -50%);
  }
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
  100% {
    transform: scale(0.95) translate(-50%, -50%);
  }
}
.counter_part {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 50px;
}
.counter_part .counter_item {
  display: flex;
  gap: 15px;
  align-items: center;
  color: var(--color2);
}
.counter_part .counter_item .count_amount {
  font-size: 64px;
  font-weight: var(--font-weight2);
}
.counter_part .counter_item .count_title p {
  font-size: 16px;
  line-height: 24px;
}

.quality_services {
  background-color: #f6f3fc;
  padding: 120px 0;
}

.services .service_title {
  text-align: center;
  font-size: 45px;
  background: linear-gradient(to right, var(--color2) 0%, var(--color1) 100%);
  background-clip: text;
  color: transparent;
  font-weight: var(--font-weight2);
}
.services .service_para {
  text-align: center;
  color: var(--color3);
  font-size: 16px;
  margin: 20px 0 50px 0;
  line-height: 1.4;
}
.services .service_content {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  gap: 30px;
  padding: 40px 32px;
}
.services .service_content .name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.services .service_content .name .serial_number {
  font-size: 20px;
  font-weight: var(--font-weight2);
  color: var(--color2);
}
.services .service_content .name .skill_name {
  font-size: 30px;
  font-weight: var(--font-weight2);
  color: var(--color2);
}
.services .service_content .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.services .service_content .details .details_text {
  max-width: 550px;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color3);
}
.services .service_content .details .details_icon {
  font-size: 30px;
  margin-right: 25px;
  transform: rotate(45deg);
  color: var(--color2);
}
.services .service_content:hover {
  background: linear-gradient(90deg, var(--color2) 0%, var(--color1) 100%);
  transition-delay: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.services .service_content:hover .serial_number,
.services .service_content:hover .skill_name,
.services .service_content:hover .details_text {
  color: white;
  transition-duration: 0.4s;
}
.services .service_content:hover .details_icon {
  color: white;
  transform: rotate(-45deg);
  transition-duration: 0.4s;
}

hr {
  margin: 0;
}

.recent_works {
  padding: 120px 0 90px 0;
}
.recent_works .works_title {
  text-align: center;
  font-size: 45px;
  background: linear-gradient(to right, var(--color2) 0%, var(--color1) 100%);
  background-clip: text;
  color: transparent;
  font-weight: var(--font-weight2);
}
.recent_works .works_menu {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.recent_works .works_menu ul {
  display: flex;
  background-color: #f6f3fc;
  padding: 6px 8px;
  border-radius: 25px;
}
.recent_works .works_menu ul li a {
  text-decoration: none;
  font-size: 15px;
  padding: 12px 25px;
  color: var(--color2);
}
.recent_works .works_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.recent_works .works_container .works_content {
  position: relative;
  padding: 36px 36px 0 36px;
  background-color: black;
  border-radius: 12px;
}
.recent_works .works_container .works_content .works_img img {
  width: 100%;
}
.recent_works .works_container .works_content .works_pg_content {
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  padding: 30px 20px;
  border-radius: 16px;
  background: linear-gradient(90deg, var(--color2) 0%, var(--color1) 100%);
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.recent_works .works_container .works_content .works_pg_content .works_pg h3 {
  font-size: 30px;
  color: var(--white);
  font-weight: var(--font-weight2);
  margin-bottom: 15px;
}
.recent_works .works_container .works_content .works_pg_content .works_pg p {
  font-size: 16px;
  color: var(--white);
}
.recent_works .works_container .works_content .works_pg_content .works_icon {
  font-size: 30px;
  color: var(--white);
  transform: rotate(45deg);
}
.recent_works .works_container .works_content:hover .works_pg_content {
  z-index: 2;
  bottom: 5%;
  transition-duration: 0.5s;
  cursor: pointer;
}
.recent_works .works_container .works_content:hover .works_icon {
  transform: rotate(315deg);
  transition-duration: 0.5s;
}

/*# sourceMappingURL=app.css.map */
